@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="main">
    <div class="content px-6">
        @Body
    </div>
</div>
<footer>
    <div>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
</footer>
