@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>
<div class="main">
    <div class="content px-6">
        @Body
    </div>
</div>
<footer>
    <div class="row flex-nowrap justify-content-center">
        <p>Steppenwolf @@ @DateTime.Now.Year</p>
    </div>
</footer>
