@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>
<div class="main">
    <div class="content px-6">
        @Body
    </div>
</div>
<footer>
    <p class="text-center">We Are Open Source - <a target="_blank" href="https://github.com/043Tech/Steppenwolf">GitHub</a>.</p>
</footer>