@using Steppenwolf.Services.Data
@using Steppenwolf.Services.Models
@inject CategoryController CategoryController
<nav class="nav-scroller py-1 mb-2">
    <ul class="nav d-flex justify-content-between">
        @foreach (var category in categories)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@category.Slug">
                    @category.Name
                </NavLink>
            </li>
        }
    </ul>
</nav>

@code {

    private IEnumerable<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        this.categories = CategoryController.GetCategories();

        await Task.CompletedTask;
    }

}