@using Steppenwolf.Services.Data
@inject CategoryService CategoryService
<div>
    <ul class="nav justify-content-between">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        @foreach (var category in categories)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@category.Slug">
                    @category.Name
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                About
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private IEnumerable<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        this.categories = CategoryService.GetCategories();

        await Task.CompletedTask;
    }

}